/* Variables */

$text-color: #757575;
$bg-basic-color: rgb(220, 218, 255);
$bg-start-gradient-color: rgba(220, 218, 255, 1);
$bg-end-gradient-color: rgba(255, 255, 255, 1);
$border-color: #E9E9E9;
$link-default-color: #206eb1;
$border-focused-color: #fff;
$item-focused-border :#3c3963;
$button-focused-color:#6460a7;
$button-focused-bg:#dcdaff;